<div class="left-sidebar">
	<h2>Danh mục</h2>
    <!--category-productsr-->
    <div class="panel-group category-products" id="accordian">
		<!--show default.cshtml DanhMucs-->
		<vc:danh-mucs></vc:danh-mucs>
	</div>
    <!--/category-products-->
    
	<!--brands_products-->
    <div class="brands_products">
		<h2>Thương hiệu</h2>
		<!--show default.cshtml ThuongHieus-->
		<vc:thuong-hieus></vc:thuong-hieus>
	</div>
	<!--/brands_products-->

</div>