<div class="left-sidebar">
	<h2>Category</h2>
    <!--category-productsr-->
    <div class="panel-group category-products" id="accordian">
		<!--show default.cshtml DanhMucs-->
		<vc:danh-mucs></vc:danh-mucs>
	</div>
    <!--/category-products-->
    
	<!--brands_products-->
    <div class="brands_products">
		<h2>Brands</h2>
		<!--show default.cshtml ThuongHieus-->
		<vc:thuong-hieus></vc:thuong-hieus>
	</div>
	<!--/brands_products-->

    <!--price-range-->
    <div class="price-range">
		<h2>Price Range</h2>
		<div class="well text-center">
			<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
			<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
		</div>
	</div>
	<!--/price-range-->
    
	<!--shipping-->
    <div class="shipping text-center">
		<img src="images/home/shipping.jpg" alt="" />
	</div>
	<!--/shipping-->

</div>