@model EditPassword

@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a asp-controller="Account" asp-action="Info" asp-route-Name="@User.Identity.Name">Thông tin tài khoản</a></li>
            <li><a asp-controller="Account" asp-action="Order">Đơn hàng của tôi</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <div class="col-sm-12">
                <form asp-action="EditPassword" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <p class="title-info">
                            <b>Mật khẩu cũ : </b>
                        </p>
                        <input type="password" class="info" asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <p class="title-info">
                            <b>Mật khẩu mới : </b>
                        </p>
                        <input type="password" class="info" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <p class="title-info">
                            <b>Nhập lại mật khẩu mới</b>
                        </p>
                        <input type="password" class="info" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12" style="margin-bottom: 15px">
                <div class="shop-menu pull-right">
                    <a class="btn btn-danger btn-sm" asp-action="Info" asp-controller="Account">Hủy</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/category-tab-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}